<!--Intro and service-->
  <div id="intro" class="section scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <!--<h2 class="center header text_h2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h2"> Phasellus  </span>vestibulum lorem
            risus, nec suscipit lorem <span class="span_h2"> laoreet quis.</span> </h2>-->
          <h2>
            我們長期致力於兒童及青少年的文化教育紮根工作，設有各種<span class="span_h2">讀經班、科學營、青少年班(嵐天驛棧)</span>，並針對一般民眾設有專題式的課程分享，為免費之公益性質， 主要為提昇文化素養及建立健全人格，促進家庭互動關係，為和諧社會而努力:D
            歡迎大家的參與唷!!!
          </h2>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-action-account-box"></i>
            <h5 class="promo-caption">單純</h5>
            <p class="light center"></p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-social-group"></i>
            <h5 class="promo-caption">活水</h5>
            <p class="light center"></p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="center promo promo-example">
            <i class="mdi-image-nature-people"></i>
            <h5 class="promo-caption">專一</h5>
            <p class="light center"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
