<!--Event-->
<div class="section scrollspy" id="work">
  <div class="container">
    <h2 class="header text_b">營隊活動 </h2>
    <div id="wonderpush-subscription-switch" data-sentence="是否要接收最新營隊訊息" data-on="YES" data-off="NO"></div>
    <div class="row">


      <div class="col s12 m4 l4" *ngFor="let item of ShowEventData |async">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" [src]="item?.imageinfo">
            <!--assets/img/project1.jpg-->
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{item?.title}}<i class="mdi-navigation-more-vert right"></i></span>

  <div class="row">
            <button class="btn waves-effect waves-light" type="button" (click)="onShareEvent(item?.websignurl)">
              分享活動<i class="mdi-social-share right white-text"></i>
             </button>
            <button class="btn waves-effect waves-light" type="button" (click)="onSignUpEvent(item?.websignurl)">
              報名活動<i class="mdi-content-send right white-text"></i>
             </button>
  </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{item?.title}}<i class="mdi-navigation-close right"></i></span>

            <p [innerText]="item?.content"></p>

          </div>
        </div>
      </div>


      <!--<div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/18698019_1308216295893079_2337726992537506589_n.jpg?oh=087af87aa37d5b3ba3cda4a59c2f12cc&oe=59A6A112">

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">2017夏令營 - 古早味彈珠台<i class="mdi-navigation-more-vert right"></i></span>

            <button class="btn waves-effect waves-light" type="button" (click)="onShareEvent()">分享活動
                                <i class="mdi-social-share right white-text"></i>
             </button>
            <button class="btn waves-effect waves-light" type="button" (click)="onSignUpEvent()">報名活動
                                <i class="mdi-content-send right white-text"></i>
             </button>

          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">2017夏令營 - 古早味彈珠台<i class="mdi-navigation-close right"></i></span>
            <p>
              小小工匠師集合~~~<br> 親手打造『古早味彈珠台』，
              <br> 從「想」到「做」
              <br> 讓孩子學會思考、學會分享、學會動手做🤛
              <br> 僅此ㄧ梯，物超所值，把握限定的名額
              <br> 費用：600元 /組親子 (含材料費&餐費)<br> 時間：7/09 (日) 09:30-15:00<br> 地點：燕巢書苑 - 燕巢區北一路12巷60號<br> 報名專線：0937-351-625林老師/0937-090-716趙老師
              <br> 匯款帳號：501-68-057709戶名:林瀞文
              <br> 銀行代號:007(第一銀行)
              <br>


            </p>
          </div>
        </div>
      </div>-->


      <!--<div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/project2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#">Project link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this project that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/project3.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#">Project link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this project that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/project4.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#">Project link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this project that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/project5.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#">Project link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this project that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/project6.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#">Project link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this project that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>-->
    </div>
  </div>
</div>
<!--Parallax-->
<div class="parallax-container">
  <div class="parallax"><img src="assets/img/parallax1.png"></div>
</div>
